.tabs .indicator {
    /* blue darken-2 */
    background-color: #1976d2 !important;
}

.tabs .tab a {
    /* blue */
    color: #2196f3 !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
  /* blue darken-2 */
  color: #1976d2 !important;
}
