section.overview h1, section.overview h2 {
    font-family: "Ropa Sans", sans-serif;
    letter-spacing: 1px;
}
section.overview {
    background-color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
}
section.overview h1 {
    font-size: 1.8em;
    font-weight: 700;
}
section.overview p {
    font-size: 1.1em;
}
section.overview div.tagline {
    margin: auto;
    width: 70%}
@media only screen and (max-width:600px) {
    section.overview div.tagline h1 {
    font-size: 1.4em;
}
section.overview div.tagline p {
    font-size: 1em;
}
}section.overview h2 {
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 0;
}
